$color-white: white;
$color-2170C: #00acc8;
$color-7C: #98999b;
$color-10C: #63656a;
$color-3035C: #003E51;
$color-143C: #ffa400;

$container-width:800px;
$content-width:600px;

$background-color:#cccccd;
$font-size:14px;