.footer {
  width: $content-width;
}

.footer td {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  background-color: #292929;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
}
